AWS_REGION=
INVENTORY_QUEUE_URL=
NOTIFICATION_QUEUE_URL=
SNS_TOPIC_ARN=
SES_RECIPIENT=

VITE_ORDER_API=
VITE_AUTH0_DOMAIN=
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_CLIENT_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
